:root {
  $main-txt-cl: #212121;
  $secondary-txt-cl: #757575;
  $header-cl: #ececec;
  $accent-cl: #2196f3;
  $bg-footer-cl: #2f303a;
  $footer-txt-cl: rgba(255, 255, 255, 0.6);
  $logo-txt-cl: #000000;
  $main-font: Roboto, sans serif;
  $backround-cl: #ffffff;
  $logo-cl: #2f303a;
  $img-portfolio-txt: #eeeeee;
  $socials-icon-cl: #afb1b8;
  $timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  $form-border-cl: rgba(33 33, 33, 0.2);
}
